body{background:#e6e6e6}
#head h1{padding-top:13px;font-size:40px}
#container{display:none;margin:60px auto;width:650px;background:#fff;box-shadow:0 0 8px #000;border-radius:3px;text-align:center}
.optns,.operator,.fraktion,.operators,.result,.null{float:left}
.null{font-size:22px;margin:6px;background:#fff;padding:26px 0;text-align:center}
.hr{background:#000;height:1px}
.fraktion .hr{margin:9px 7px}
.button{margin-top:10px}
.cell{font-size:18px;text-align:center;border:none;margin:6px}
#calc .fraktion .cell{border-radius:2px;background:rgba(0,0,0,0.10);width:80px}
#calc .optns{margin:34px 5px}
.optns p{font-size:20px;margin:0}
#calc .result{text-align:center;cursor:default;min-width:30px;}
#calc .result .cell{height:30px}
#calc .result .hr{margin:8px 5px}
.calc .result{margin:0 4px;min-width:25px;}
.calc .result .hr{margin:9px 7px}
#operators{float:left;}
#operators .ui-selected{border:1px solid #000}
#operators .ui-selecting{border:1px solid #808080}
#operators div{border:1px solid #fff;cursor:pointer;border-radius:2px;font-size:15px;text-align:center;width:15px;height:15px;margin:4px;pading:3px;background:#fff;color:#000}
#foot{padding:40px 0 15px 0;clear:both}
#calculations,#calc{margin:0 18px 18px 18px;padding:6px;float:left;border:1px dashed #000;border-radius:3px}
#calculations{height:180px;width:600px;overflow-y:scroll;border:1px dashed #000}
.calc{cursor:default;border-radius:3px;float:left;border:1px dashed #000;margin:7px;}
.calc .cell{padding:0 3px}
.calc .optns{margin-top:22px}
.calc:hover{background:rgba(71,0,168,0.40);}
.calc:hover #delete{opacity:1}
.calc #delete{position:relative;cursor:pointer;opacity:0;top:-6px;right:-8px}
#buttons{margin-top:-3px;float:left;width:35px}
#clear{float:right;margin:-16px 35px 0 0;position:relative}
#clear a,#foot a{font-size:11px;color:#000;text-decoration:underline;cursor:pointer;}
#clear a:hover,#foot a:hover{color:#808080}
.operator{margin-top:30px}
