blue = #fff

body
  background #E6E6E6

#head 
  h1 
    padding-top 13px
    font-size 40px

#container
  display none
  margin 60px auto
  width 650px
  background blue
  box-shadow 0 0 8px black
  border-radius 3px
  text-align center

.optns
.operator
.fraktion
.operators
.result
.null
  float left

.null
  font-size 22px
  margin 6px 
  background blue
  padding 26px 0
  text-align center
  
.hr
  background black
  height 1px

.fraktion 
  .hr
    margin 9px 7px


.cell
  font-size 18px
  text-align center
  border none
  margin 6px

#calc 
  .fraktion .cell
    border-radius 2px
    background rgba(0, 0, 0, 0.1)
    width 80px
  .optns
    margin 34px 5px

.optns
  p
    font-size 20px
    margin 0

#calc .result
  .cell
    height 30px
  text-align center
  cursor default
  min-width 30px
  .hr
    margin 8px 5px

.calc .result
  margin 0 4px
  min-width 25px
  .hr
    margin 9px 7px
  

#operators
  float left
  .ui-selected
    border 1px solid black
  .ui-selecting
    border 1px solid grey
  div
    border 1px solid blue
    cursor pointer
    border-radius 2px
    font-size 15px
    text-align center
    width 15px
    height 15px
    margin 4px
    pading 3px
    background white
    color black


#foot
  padding 40px 0 15px 0
  clear both

#calculations
#calc
  margin 0 18px 18px 18px
  padding 6px
  float left
  border 1px dashed black
  border-radius 3px

#calculations
  height 180px
  width 600px
  overflow-y scroll
  border 1px dashed black

.calc
  .cell
    padding 0 3px
  .optns
    margin-top 22px
  cursor default
  border-radius 3px
  float left
  border 1px dashed black
  margin 7px
  &:hover
    background rgba(71, 0, 168, 0.4)
    #delete
      opacity 1
  #delete
    position relative
    cursor pointer
    opacity 0
    top -6px
    right -8px

#buttons
  margin-top -3px
  float left
  text-align left
  button
    margin-top 10px
  span
    visibility hidden
    margin 5px
    cursor default
  div
    &:hover
      span
        visibility visible

#clear
  float right
  margin -16px 35px 0 0
  position relative

#clear
#foot
  a
    font-size 11px
    color black
    text-decoration underline
    cursor pointer
    &:hover
      color grey

.operator
  margin-top 30px 
