border-radius(s)
  -webkit-border-radius s
  -moz-border-radius s
  border-radius s

box-shadow(s...)
  -webkit-box-shadow s
  -moz-box-shadow s
  box-shadow s

transform(s...)
  -webkit-transform s
  -moz-transform s
  -o-transform s
  -ms-transform s

transition(s...)
  -webkit-transition s
  -moz-transition s
  -o-transition s


