!!! html
html(lang="en")
  head
    title Bruchrechner

    script(src="lib/coffee-script.js")
    script(src="lib/es5-shim.js")
    
    script(src="lib/dist/batman.js")
    
    script(src="lib/jquery-1.6.4.js")
    script(src="lib/jquery-ui-1.8.16.js")
    
    script(src="/application.js")
    
    link(rel="stylesheet", href="/application.css")
  
  body
   
    #container(data-context="controllers.app")
   
      #head
        h1(data-event-click="test") Bruchrechner
   
   
      #calc
   
        .fraction
          input.cell(type="number", data-bind="calc.denominator1", data-event-submit="create")
          .hr
          input.cell(type="number", data-bind="calc.numerator1", data-event-submit="create")
   
        #operators(data-event-selectableselected="setOperator")
          .ui-selected +
          div -
          div x
          div :
   
        .fraction
          input.cell(type="number", data-bind="calc.denominator2", data-event-submit="create")
          .hr
          input.cell(type="number", data-bind="calc.numerator2", data-event-submit="create")
   
        .optns
          p =
   
        .optns(data-showif="calc.negative") 
          p -
   
        .null(data-showif="calc.showNo_fraction", data-bind="calc.noFraction")
   
        .result(data-hideif="calc.showNo_fraction")
          .cell(data-source="calc.denominatorView")
          .hr
          .cell(data-source="calc.numeratorView")
   
      #buttons
        div
          button(data-event-click="create")
            img(src="images/submit.png", alt="", width="15px")
          span save & continue
        div
          button(data-event-click="reset")
            img(src="images/reset.png", alt="", width="15px")
          span reset
        div
          button(data-event-click="shortening")
            img(src="images/short_enabled.png", alt="", width="15px", data-showif="calc.shortening")
            img(src="images/short_disabled.png", alt="", width="15px", data-hideif="calc.shortening")
          span enable shortening

   
      #calculations
        .calc(data-foreach-thing="Calculation.all", data-event-doubleclick="reedit")
          .fraction
            .cell(type="number", data-bind="thing.denominator1")
            .hr
            .cell(type="number", data-bind="thing.numerator1")
          .operator(data-bind="thing.operator")
          .fraction
            .cell(type="number", data-bind="thing.denominator2")
            .hr
            .cell(type="number", data-bind="thing.numerator2")
          .optns
            p =
          .optns(data-showif="thing.negative")
            p -
          .result
            .cell(data-source="thing.denominatorView")
            .hr
            .cell(data-source="thing.numeratorView")
          img#delete(src="images/delete.png", alt="", data-event-click="thing.destroy")
   
   
      #clear 
        a(data-event-click="clear") clear history

   
      #foot 
        a(href="http://github.com/jorin-vogel/Bruchrechner") check out github
   
   
   
    script
      // extending Batmans data-bindings with all jQuery events 
      // and some jQueryUI events
      $.each( ("blur focus focusin focusout load resize scroll unload dblclick mousedown mouseup mousemove mouseover mouseout mouseenter mouseleave select keydown keypress keyup error selectableselected").split(" "), function(i,e){
        Batman.DOM.events[e] = function (node, callback) {
          $(node).bind(e, callback);
        };
      });

      // start app
      Fractioncalculator.run();
